Kode Program Untuk semua Kriteria

In [16]:
def skor_tanggungan(jumlah_tanggungan):
  if jumlah_tanggungan >= 5:
    return 1
  else:
    return 5 - jumlah_tanggungan

def skor_listrik(rata_rata_listrik):
  if rata_rata_listrik > 200000:
    return 3
  elif 50000 <= rata_rata_listrik <= 200000:
    return 2
  else:
    return 1

def skor_gaji(gaji):
  if gaji > 100000000:
    return 7
  elif 8000000 < gaji <= 10000000:
    return 6
  elif 6000000 < gaji <= 8000000:
    return 5
  elif 4000000 < gaji <= 6000000:
    return 4
  elif 3000000 < gaji <= 4000000:
    return 3
  else:
    return 2

def hitung_biaya_ukt(jumlah_tanggungan, listrik, gaji, kip_k):
  skor_1 = skor_tanggungan(jumlah_tanggungan)
  skor_2 = skor_listrik(sum(listrik) / len(listrik))
  skor_3 = skor_gaji(gaji)
  skor_4 = skor_kip_k(kip_k)

  skor_total = 0.2 * skor_1 + 0.3 * skor_2 + 0.2 * skor_3 + 0.3 * skor_4
  biaya_pokok = 750000
  jumlah_bayar_ukt = biaya_pokok + skor_total * 500000
  return jumlah_bayar_ukt

# Contoh input
jumlah_tanggungan = 1
listrik = [120000, 75000, 50000]
gaji = 5000000
kip_k = False


biaya_ukt = hitung_biaya_ukt(jumlah_tanggungan, listrik, gaji, kip_k)
print("Biaya UKT yang harus dibayarkan:", biaya_ukt)

Biaya UKT yang harus dibayarkan: 2600000.0